<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113621956259-0fc76u8hgbvfn5f2f2lsa8po2sk05m6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113621956259-0fc76u8hgbvfn5f2f2lsa8po2sk05m6p</string>
	<key>API_KEY</key>
	<string>AIzaSyC1mvuykZMpZalwB5qkCLXxYRK29TeC7qY</string>
	<key>GCM_SENDER_ID</key>
	<string>113621956259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.iitu.adin</string>
	<key>PROJECT_ID</key>
	<string>adin-b42ab</string>
	<key>STORAGE_BUCKET</key>
	<string>adin-b42ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:113621956259:ios:fddcd0a057b1510f</string>
	<key>DATABASE_URL</key>
	<string>https://adin-b42ab.firebaseio.com</string>
</dict>
</plist>